In [1]:
print("hello")

hello

In [2]:
def add(a,b):
    print(a+b)
add(20,10)

30

In [3]:
add(2,3)

5

In [5]:
print("hi",end=" ")
print("world")

hi world

In [6]:
print(10,20,sep=" / ")

10 / 20

In [7]:
a=input("enter value :")

In [8]:
a

'10'

In [10]:
a = """Let's learn "python" """ #tuple quote

In [11]:
print(a)

Let's learn "python"

### Functions on list

In [1]:
a = [1,2,4,54,35,3231,4]

In [2]:
len(a)

7

In [3]:
max(a)

3231

In [4]:
sum(a)

3331

In [5]:
sorted(a) # ascending

[1, 2, 4, 4, 35, 54, 3231]

In [6]:
sorted(a,reverse=True) #descending

[3231, 54, 35, 4, 4, 2, 1]

In [7]:
all(a)   #if all the elements are true in the list, then it will return true else false

True

In [8]:
b = [322,4214]

In [9]:
a.append(b) # it will append list as it is

In [10]:
a

[1, 2, 4, 54, 35, 3231, 4, [322, 4214]]

In [11]:
a.extend(b) # it will append elemets from b

In [12]:
a

[1, 2, 4, 54, 35, 3231, 4, [322, 4214], 322, 4214]

In [14]:
a+b  # it will also append all elements from a and b to a new list and not change a

[1, 2, 4, 54, 35, 3231, 4, [322, 4214], 322, 4214, 322, 4214]

In [15]:
a

[1, 2, 4, 54, 35, 3231, 4, [322, 4214], 322, 4214]

In [16]:
a.count(2)

1

In [17]:
a.index(4) # return index of a element

2

In [18]:
a.remove(2) #removes first matching element

In [19]:
a

[1, 4, 54, 35, 3231, 4, [322, 4214], 322, 4214]

In [20]:
a.pop(2) # removes and returns element at that position

54

In [21]:
a.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [22]:
b.sort()

In [23]:
b

[322, 4214]

In [24]:
b.sort(reverse=True)

In [25]:
b

[4214, 322]

In [26]:
b.reverse()

In [27]:
b

[322, 4214]

### List comprehension

[x for x in iterable <condition>]

In [28]:
c = [x**2 for x in range(1,11)]

In [29]:
c

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
[x for x in range(1,11) if(x%2)]

[1, 3, 5, 7, 9]

### SET

In [31]:
myset = {1,2,433,12,232}

In [32]:
myset

{1, 2, 12, 232, 433}

In [33]:
myset.add(23) # to insert

In [34]:
myset

{1, 2, 12, 23, 232, 433}

In [35]:
myset.add(23)

In [36]:
myset

{1, 2, 12, 23, 232, 433}

#### String

In [38]:
name = "tushar"
age = 12
print(f"my name is {name} and age is {age}")

my name is tushar and age is 12

### Function

lambda function

In [39]:
myFunc = lambda a,b:a+b
myFunc(2,3)

5

map

In [40]:
def sqr(x):
    return x**2
l = [1,2,3,4,5]
list(map(sqr,l))

[1, 4, 9, 16, 25]

filter

In [42]:
def check_even(n):
    return n%2==0
li = [2,3,4,5,7,67,88,6899]
list(filter(check_even,li))

[2, 4, 88]

# OOPS

In [68]:
class emp:
    def __init__(self):
        print("object created")
        self.name = "tushar"
        self.age = 20
        self.salary = 10000
    def test():
        print("inside test")
    def demo(self):
        print("inside demo")
    def func(anything):
        print("inside function")
    def getName(self,name):
        print(f"my name is {name}")

In [69]:
tushar = emp()

object created

In [45]:
tushar.demo()

inside demo

In [46]:
tushar.func()

inside function

In [47]:
tushar.test()

TypeError: emp.test() takes 0 positional arguments but 1 was given

In [67]:
tushar.getName("tg")

my name is tg

In [70]:
tushar.age

20

In [10]:
class person:
    country = "india"   #class variable
    def __init__(self,a,b,c):  #constructor
        self.name = a   #instance variable
        self.age = b
        self.sex = c
    def show(self):
        city = "kapurthala"  #local variable
        print(self.name,self.age,self.sex,city,person.country)

In [11]:
sunny = person("sunny",20,"male")

In [12]:
sunny.show()

sunny 20 male kapurthala india

In [9]:
sunny.country

'india'

In [3]:
import math
class circle:
    def __init__(self,r):
        self.radius = r
    def area(self):
        print(math.pi * self.radius**2)

In [5]:
r=int(input("enter radius"))
obj = circle(10)
obj.area()

314.1592653589793

In [13]:
class emp:
    raise_amount=0
    @classmethod   #decorator
    def set_raise_amt(cls):
        cls.raise_amount=float(input("write a percent which you want to increase"))

    def __init__(self,sal):
        self.sal = sal
    def increase_sal(self):
        self.sal = self.sal+(self.sal*emp.raise_amount/100)
        print(self.sal)

In [15]:
obj = emp(20000)

In [16]:
obj.increase_sal()

20000.0

In [17]:
emp.set_raise_amt()   #class method can be called only using class name

In [18]:
obj.increase_sal()

30000.0

In [19]:
obj1 = emp(25000)

In [20]:
obj.increase_sal()

45000.0

In [21]:
class math:
    @staticmethod   #these does not needs reference to class or object
    def add(a,b):
        return a + b
    def mul(a,b):
        return a * b

In [22]:
math.add(2,3)

5

In [23]:
math.mul(2,3)

6

# ENCAPSULATION

it means to make data secure and not available publicly

to make private use __var name or __method name

In [1]:
class emp:
    def __init__(self):
        self.name="tushar"
        self.__age=20
    def __display(self):
        print(self.name,self.__age)
    def show(self):
        self.__display()

In [2]:
obj = emp()

In [3]:
obj.name

'tushar'

In [4]:
obj.age   #age is private variable

AttributeError: 'emp' object has no attribute 'age'

In [7]:
obj.display()   #display is private method

AttributeError: 'emp' object has no attribute 'display'

In [8]:
obj.show()     #we can use another method to show private variable and method

tushar 20

# INHERITENCE

simple inheritence

In [9]:
class animal:
    def eats(self):
        print("yes it eats")
    def sleeps(self):
        print("yes it sleeps")

class bird(animal):
    def set_type(self,type):
        self.type = type
    def getType(self):
        print(self.type)

In [10]:
duck=bird()

In [11]:
duck.sleeps()

yes it sleeps

In [12]:
duck.set_type("duck")

In [13]:
duck.getType()

duck

multilevel inheritence

In [20]:
class person:
    def __init__(self,age,name):
        self.name=name
        self.age=age
        print("person constructor called")
class emp(person):
    def __init__(self,age,name,ids,sal):
        super().__init__(age,name)
        self.ids = ids
        self.sal = sal
        print("emp constructor called")
class manager(emp):
    def __init__(self,age,name,ids,sal,bonus):
        super().__init__(age,name,ids,sal)    #this we have to do if we want to inherit instance variables of parent class
        self.bonus=bonus
        print("manager constructor called")

In [17]:
m=manager(20,"tushar",1,20000,2000)

person constructor called
emp constructor called
manager constructor called

In [18]:
m.age

20

In [19]:
m.name

'tushar'

# POLYMORPHISM

it means to change or add new functionality to existing methods

In [27]:
class point :
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def __add__(self,other):    # dender function
        x=self.x+other.x
        y=self.y+other.y
        p=point(x,y)
        return p
    def __repr__(self):         # this function will act as a default return for this class
        return f"x={self.x},y={self.y}"

In [28]:
p1=point(2,3)

In [29]:
print(p1)

x=2,y=3

In [23]:
p2=point(3,4)

In [30]:
p1+p2

x=5,y=7

# EXCEPTION HANDLING

In [38]:
try:
    a=int(input("enter a"))
    b=int(input("enter b"))
    if a<0 or b<0:
        raise Exception("negative values not allowed")
    print(a/b)
except ZeroDivisionError:
    print("b should not be zero")
except ValueError:
    print("b should be integer")
except Exception as e:
    print(e)

negative values not allowed

In [37]:
import sys
try:
    a=int(input("enter a"))
    b=int(input("enter b"))
    print(a/b)
except:
    a,b,c=sys.exc_info()    #gives all information about exception
    print("exception class: ",a)
    print("exception message: ",b)
    print("line number: ",c.tb_lineno)

exception class:  <class 'ZeroDivisionError'>
exception message:  division by zero
line number:  5